[submodule "text_to_speech_api"]
	path = text_to_speech_api
	url = https://github.com/TartuNLP/text-to-speech-api
[submodule "text_to_speech_worker"]
	path = text_to_speech_worker
	url = https://github.com/TartuNLP/text-to-speech-worker
